.vscode
/build
/build-reactive-bench
/build-dom-bench
/build-hydration-bench
/build-hydration-demo
/build-ssr-bench
/build-ssr-demo
/build-demo
/demo_build
/examples/build
/node_modules
/target
package-lock.json

**/*.swp
**/*.rs.bk
