[config]
default_to_workspace = false


[tasks.unit-tests]
script = [
    "cargo test --all-features"
]

# NOTE: WebDriver on localhost:9515 needs to be running
[tasks.automated-tests]
script = [
    "cargo test --package fantoccini-tests -- --ignored"
]

[tasks.ci]
script = [
    "cargo clippy -p vertigo -p vertigo-macro --all-features --tests --target wasm32-unknown-unknown -- -Dwarnings",
    "cargo clippy -p vertigo-demo -p vertigo-example-counter -p vertigo-example-router -p vertigo-example-trafficlights --all-features --tests --target wasm32-unknown-unknown -- -Dwarnings",
    "cargo test --all-features",
    "tests/check_versions.sh",
    "tests/js_tests.sh",
    "tests/check_vertigo_new.sh",
]

[tasks.all-tests]
dependencies = ["unit-tests", "automated-tests"]

[tasks.clean-build]
dependencies = ["clean"]
script = ["rm -rf build"]

# Run clippy for wasm32 target

[tasks.clippy-wasm32]
command = "cargo"
args = [
    "clippy",
    "--all-features",
    "--target", "wasm32-unknown-unknown",
    "-p", "vertigo",
    "-p", "vertigo-macro",
    "-p", "vertigo-demo",
    "-p", "vertigo-example-counter",
    "-p", "vertigo-example-router",
    "-p", "vertigo-example-trafficlights"
]


# Demo tasks - debug mode

[tasks.demo-debug-api]
script = ["cargo run --bin vertigo-demo-server"]

[tasks.demo-debug-watch]
script = [
    'cargo run --bin vertigo -- watch vertigo-demo --dest-dir=demo_build --wasm-run-source-map --env ws_chat=ws://127.0.0.1:3333/ws'
]

[tasks.demo-watch]
run_task = { name = ["demo-debug-api", "demo-debug-watch"], parallel = true }

# Demo tasks - release mode

[tasks.demo-serve-api]
script = ["cargo run --bin vertigo-demo-server --release"]

[tasks.demo-serve]
script = [
    "cargo run --bin vertigo --release -- build vertigo-demo --dest-dir=demo_build --wasm-run-source-map",
    "cargo run --bin vertigo --release -- serve --dest-dir=demo_build --env ws_chat=ws://127.0.0.1:3333/ws"
]

[tasks.demo]
run_task = { name = ["demo-serve-api", "demo-serve"], parallel = true }

# Examples tasks
[tasks.examples-counter]
script = [
    'cargo run --bin vertigo -- watch vertigo-example-counter --dest-dir=examples/build/counter',
]

[tasks.examples-router]
script = [
    'cargo run --bin vertigo -- watch vertigo-example-router --dest-dir=examples/build/router',
]

[tasks.examples-trafficlights]
script = [
    'cargo run --bin vertigo -- watch vertigo-example-trafficlights --dest-dir=examples/build/trafficlights',
]

# JavaScript dev build

[tasks.test-js]
script = ["npm install", "npm run test:hydration"]

[tasks.build-js]
script = ["npm install", "npx rollup -c"]

[tasks.lint]
script = "cargo run --bin lint-project"
