[config]
default_to_workspace = false

[tasks.vertigo-test]
script = [
    "cargo test -p vertigo --all-features"
]

# Run clippy for wasm32 target

[tasks.clippy-wasm32]
command = "cargo"
args = [
    "clippy",
    "--all-features",
    "--target", "wasm32-unknown-unknown",
    "-p", "vertigo",
    "-p", "vertigo-macro",
    "-p", "vertigo-demo",
    "-p", "vertigo-example-counter",
    "-p", "vertigo-example-router"
]


# Demo tasks

[tasks.demo-build]
script = [
    'cargo run --bin vertigo -- build vertigo-demo --dest-dir=demo_build'
]

[tasks.demo-serve-api]
script = [
    "cargo run --bin vertigo-demo-server"
]

[tasks.demo-serve-http]
command = "cargo"
args = ["run", "--bin", "vertigo", "--", "serve", "--dest-dir=demo_build"]

[tasks.demo-serve]
command = "cargo"
args = ["run", "--bin", "vertigo", "--", "run-parallel", "cargo make demo-serve-api", "cargo make demo-serve-http"]

[tasks.demo-start]
dependencies = [
    "demo-build",
    "demo-serve"
]

[tasks.demo-watch]
command = "cargo"
args = [ "watch", "--watch", "./demo/app", "--watch", "crates", "--delay", "0.5", "-x", "make demo-start" ]

# Examples tasks
[tasks.examples-build]
script = [
    'cargo run --bin vertigo -- build vertigo-example-counter --dest-dir=examples/build/counter',
    'cargo run --bin vertigo -- build vertigo-example-router --dest-dir=examples/build/router',
    'cargo run --bin vertigo -- build vertigo-example-trafficlights --dest-dir=examples/build/trafficlights',
]

# JavaScript dev builds

[tasks.build-js-run-ts]
command = "npx"
args = [ "-p", "typescript", "tsc",
    "--strict",
    "--noUnusedLocals", "--noUnusedParameters", "--noUncheckedIndexedAccess",
    "--noEmitOnError",
    "--lib", "es6,dom,esnext",
    "--target", "esnext",
    "--module", "es6",
    "--outDir", "crates/vertigo/src/driver_module/src_js_build",
    "crates/vertigo/src/driver_module/src_js/index.ts",
]

[tasks.build-js]
dependencies = [ "build-js-run-ts" ]
script = [
    "rm -Rf crates/vertigo-cli/src/serve/js_value",
    "cp -R crates/vertigo/src/driver_module/js_value crates/vertigo-cli/src/serve/js_value",
    "npx rollup crates/vertigo/src/driver_module/src_js_build/index.js --file crates/vertigo/src/driver_module/wasm_run.js",
    "rm -rf crates/vertigo/src/driver_module/src_js_build",
]

[tasks.lint]
script = "cargo run --bin lint-project"

