name: Build
on:
  pull_request:
  push:
    branches: [master]

jobs:

  fixed-nightly:
    name: Fixed Nightly clippy && tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-08-02
          target: wasm32-unknown-unknown
          components: clippy, rustfmt
          override: true

      - name: Check formatting
        run: cargo fmt -- --check

      # Clippy checks
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo -p vertigo-macro --all-features --tests --target wasm32-unknown-unknown -- -Dwarnings
          name: Vertigo Clippy Output
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo-demo -p vertigo-example-counter -p vertigo-example-router -p vertigo-example-trafficlights --all-features --tests --target wasm32-unknown-unknown -- -Dwarnings
          name: Demo/Examples Clippy Output

      # Unit tests
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features

      # Test creating new app
      - name: Install specific version of binaryen
        uses: sigoden/install-binary@v1
        with:
          repo: WebAssembly/binaryen
          tag: version_120 # Optional: pin to a specific version
          name: wasm-opt
      - name: vertigo new some_app
        run: |
          rustup default nightly-2025-08-02
          tests/check_vertigo_new.sh

      # Various check scripts
      - name: Check versions
        run: tests/check_versions.sh
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: JS tests
        run: tests/js_tests.sh

  nightly:
    name: Nightly clippy && tests
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: wasm32-unknown-unknown
          components: clippy
          override: true
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo -p vertigo-macro --all-features --tests --target wasm32-unknown-unknown -- -Dwarnings
          name: Vertigo Clippy Output
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo-demo -p vertigo-example-counter -p vertigo-example-router -p vertigo-example-trafficlights --all-features --tests --target wasm32-unknown-unknown -- -Dwarnings
          name: Demo/Examples Clippy Output
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features

  nightly-demo-server:
    name: Nightly clippy demo server (amd64)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy
          override: true
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo-demo-server --all-features -- -Dwarnings
          name: Clippy Output
