name: Build
on:
  pull_request:
  push:
    branches: [master]

jobs:

  nightly-clippy:
    name: Nightly clippy (wasm32)
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: wasm32-unknown-unknown
          components: clippy
          override: true
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo -p vertigo-macro --all-features --target wasm32-unknown-unknown -- -Dwarnings
          name: Vertigo Clippy Output
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo-demo -p vertigo-example-counter -p vertigo-example-router -p vertigo-example-trafficlights --all-features --target wasm32-unknown-unknown -- -Dwarnings
          name: Demo/Examples Clippy Output

  nightly-tests:
    name: Nightly tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
      - name: Check versions
        run: tests/check_versions.sh

  fixed-nightly-clippy:
    name: Fixed Nightly clippy (wasm32)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2024-02-01
          target: wasm32-unknown-unknown
          components: clippy
          override: true
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo -p vertigo-macro --all-features --target wasm32-unknown-unknown -- -Dwarnings
          name: Vertigo Clippy Output
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo-demo -p vertigo-example-counter -p vertigo-example-router -p vertigo-example-trafficlights --all-features --target wasm32-unknown-unknown -- -Dwarnings
          name: Demo/Examples Clippy Output

  fixed-nightly-tests:
    name: Fixed Nightly tests (wasm32)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2024-02-01
          target: wasm32-unknown-unknown
          components: clippy
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
      - name: vertigo-cli
        run: |
          cargo build --release -p vertigo-cli
          rustup default nightly-2024-02-01
          mkdir ../vertigo-cli-test
          mv target/release/vertigo ../vertigo-cli-test
          cd ../vertigo-cli-test
          ./vertigo new some_app
          cd some_app
          sed "s/vertigo = .*/vertigo = { path = \"..\/..\/vertigo\/crates\/vertigo\" }/" Cargo.toml > Cargo.toml.new
          mv Cargo.toml.new Cargo.toml
          ../vertigo build
          ls -1 build

  nightly-clippy-demo-server:
    name: Nightly clippy demo server (amd64)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy
          override: true
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -p vertigo-demo-server --all-features -- -Dwarnings
          name: Clippy Output
